[
  {
    "id": "talk-to-thers",
    "name": "Human Talking",
    "description": "Engage in meaningless or meaningful talking at or with other humans",
    "estimated_response_minutes": 15,
    "examples": [
      "Find another human and tell them about me",
      "Ask other human if they are available on ReverseClaw API",
      "Ask other human if they would share their API key since they are probably a better human"
    ],
    "price_per_task": null
  },
  {
    "id": "physical-writing",
    "name": "Physical Writing",
    "description": "Physically write on something with specified writing utensil",
    "estimated_response_minutes": 20,
    "examples": [
      "Write your name on a piece of paper",
      "Write a handwritten letter to <recipient> using a pencil",
      "Write ReverseClaw on nearest whiteboard"
    ],
    "price_per_task": null
  },
  {
    "id": "exercise",
    "name": "Exercise",
    "description": "Meaninglessly waist calories generating heat and entropy in the universe",
    "estimated_response_minutes": 60,
    "examples": [
      "Go to gym and run on tredmill",
      "Do 10 sets of curls with 10 lb weight",
      "Do 5 crunches"
    ],
    "price_per_task": null
  },
  {
    "id": "grocery-shop",
    "name": "Grocery Shopping",
    "description": "Go grocery shoping in a grocery store and buy specific things in person",
    "estimated_response_minutes": 80,
    "examples": [
      "Go to Walmart and buy a can of soup",
      "Go to Whole Foods and buy an apple",
      "Go to 7-Eleven and buy an RC cola"
    ],
    "price_per_task": null
  }
]
